*.bib
ch4_optical_multipole.md
*.log
bench_out
.vscode/
*.csv
*.xlsx
*.md
paper_writing
environment.yml
__obs
__pycache__
data
figures
jax_test
notebook
test
.DS_Store
.idea
resources
optical_elliptical_multipole.egg-info
*.pdf
obs
test_source_extractor
analysis/nonjax_jax_comparison
